@model TourismWebApp.ViewModels.TourismTypesViewModel

<div class="container-fluid">
    <div class="row">
        @foreach (var tourismType in Model.TourismTypes)
        {
            <div class="col-md-4">
                <h4 style="text-align:center">@tourismType.Name</h4>
                <a href="/TourismType/GetTTById/@tourismType.Id">
                    <img class="img-thumbnail col-md-12" src="@tourismType.ImgUrl" />
                </a>
                <p>@tourismType.Desc</p>
                <br />
                <br />
            </div>
        }
    </div>
</div>